NODE_ENV=development
PORT=3000

DB_HOST=
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

MQTT_BROKER_HOST=
MQTT_BROKER_PORT=1883

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=10m
JWT_REFRESH_EXPIRES_IN=30d
JWT_ISSUER=iot_server
JWT_AUDIENCE=iot_dashboard

BCRYPT_ROUNDS=12